@charset "utf-8";
*{
  /*フォントはYU Gothicに設定*/
  font-family: 'Yu Gothic', sans-serif;
}
body {
    padding-top: 90px;
    margin: 0;
    background: linear-gradient(0deg, rgb(158, 185, 219), rgb(8, 4, 31));
  }

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
  }

header {
    width: 100%; /* 幅いっぱいを指定 */
    height: 100px; /* ヘッダーの大きさを指定 */
    background: #ffffff;
    padding: 20px 50px; /* ヘッダーに上下左右それぞれ余白を指定(タイトルが左にくっつきすぎないようにするため) */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため(ヘッダーの初期位置と後ろのページが重ならないようにするため) */
    position: fixed; /* ウィンドウを基準に画面に固定 (ヘッダーを上に余白なく張り付けている)*/
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    display: flex; /* 中の要素を横並びにする */
    justify-content: space-between; /* 中の要素を左右に分ける */
    align-items: center; /* 中の要素を縦に中央に揃える */
    /* ヘッダーの影をつける */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10; /* ヘッダーが他の要素より上に来る */
}

header .header-logo a {
    color: #333; /* タイトルの文字色を黒にする */
    font-size: 30px; /* タイトルの文字サイズを30pxにする */
    text-decoration: none; /* リンクの下線を消す */
}

header .gnav .menu {
    display: flex;/* メニューを横並びにする */
}

header .gnav .menu li {
  list-style: none; /* リストの[・]を消す */
}

header .gnav .menu li a {
    color: #333; /* メニューの文字色を黒にする */
    text-decoration: none; /* メニューの下線を消す */
    font-size: 20px; /* メニューの文字サイズを20pxにする */

    padding: 10px; /* メニューの上下左右に余白を10pxずつつける */
    border-radius: 5px; /* メニューの角を丸くする */
    transition: 0.3s; /* メニューの変化を0.3秒かける */
}

header .gnav .menu li + li {
    margin-left: 40px; /* メニューそれぞれに間隔をあけるため */
}

main {
    flex: 1;
    height: 100vw;
  }

.main-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.title {
  width: 40%;
  height: 100%;
  margin-bottom: 20px;
  /*右に行くにつれて透明になる*/
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  border-radius: 10px;
  margin-top: 60px;
  margin-right:0;
  margin-left:auto;
  padding: 100px;

}

.title {
  font-size: 40px;
  font-weight: 100;
  color:#333
}

.page-title {
  align-self: flex-start; /*align-items: centerを無効にして、左寄せする*/
  border-bottom: 1px solid #ffffff;
  font-size: 64px;
  font-weight: 100;
  margin-left: 100px;
  display: inline-block;
}

.articlespage-list{
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1520px;
  margin : 40px;

  border-bottom: 1px solid #ffffff;
  padding-bottom: 16px;

  text-decoration: none; /* リンクの下線を消す */
  color: #ffffff;
  font-size: 24px;
  font-weight: lighter;
  justify-content: space-between; /* 中の要素を左右に分ける */
}

.individual-title {
  align-self: flex-start; /*align-items: centerを無効にして、左寄せする*/
  border-bottom: 1px solid #ffffff;
  font-size: 56px;
  font-weight: 100;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 100px;
  margin-right: 40px;
  display: inline-block;
}

.subtitle {
  align-self: flex-start; /*align-items: centerを無効にして、左寄せする*/
  border-bottom: 1px solid #ffffff;
  font-size: 32px;
  font-weight: 100;
  margin-left: 100px;
  margin-top: 0;
  margin-right: 40px;
  display: inline-block;
}

.article-content{
  align-self: flex-start; /*align-items: centerを無効にして、左寄せする*/
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
}

.day {
  font-size: 24px;
  font-weight: 100;
  align-self: flex-start; /*align-items: centerを無効にして、左寄せする*/
  margin-left: 100px;
  margin-bottom: 0;
}

.back-button{
  font-size: 24px;
  font-weight: 100;
  align-self: flex-start; /*align-items: centerを無効にして、左寄せする*/
  margin-top:32px;
  margin-left: 64px;
  margin-bottom: 0;
}
.back-button a{
  color: #ffffff; /* メニューの文字色を黒にする */
  text-decoration: none; /* メニューの下線を消す */
}
.projectlist-container {
  display: flex;
}

.project-image{
  width: 24%;
  height: auto;
  margin-left: 100px;
  display: block;
  align-self: flex-start; /*align-items: centerを無効にして、左寄せする*/
}

#about{
  width: 40%;
  height: 100%;
  margin-bottom: 20px;
  /*右に行くにつれて透明になる*/
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  border-radius: 10px;
  margin-top: 60px;
  margin-right:0;
  margin-left:auto;
  padding: 100px;
  color:#333
}
#skills{
  width: 40%;
  height: 100%;
  margin-bottom: 20px;
  /*右に行くにつれて透明になる*/
  background: linear-gradient(90deg, rgb(255, 255, 255,0), rgb(255, 255, 255, 0.8), rgba(255, 255, 255));
  border-radius: 10px;
  margin-top: 60px;
  margin-right:auto;
  margin-left:0;
  padding: 100px;
  color:#333;
  align-items: right;
}

#skills h2{
  display: flex;
  justify-content: right;
}

#skills p{
  display: flex;
  justify-content: right;
}

.mainpage-titles{
  display: flex;/* メニューを横並びにする */
  flex-direction: column;/* 子要素を縦方向に配置 */
  justify-content: center;/* 子要素を中央揃えにする */
  align-items: center;
  height: 100%;
  width: 160px;
  white-space: nowrap;
  padding-left: 700px;
  padding-right: 700px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
  border: 1px solid #ffffff;
  font-size: 40px;
  font-weight: 100;
  border: solid 1px #ffffff;    	/* 内側の線になる一本線の枠線をひく*/
	outline: solid 1px #ffffff;    /* 外側の線になる一本線の枠線をひく*/
	outline-offset: 5px;        /* 外側の線と内側の線の空き具合を調整*/
	margin: 2px;            	/* 外側の線を広げた分、要素の大きさを調整する*/
}

.more {
  text-align: center; /* テキストを中央揃え */
  width: 160px; /* 必要に応じて適切な幅を指定 */
  text-decoration: none; /* リンクの下線を消す */
  color: #292929; /* テキストカラー */
  font-size: 24px; /* フォントサイズ */
  font-weight: 400; /* フォントウェイト */
  padding: 5px 20px; /* 余白を指定 */
  border: 1px solid #FFFFFF; /* 枠線を追加 */
  outline: solid 1px #ffffff;    /* 外側の線になる一本線の枠線をひく*/
  outline-offset: 5px;        /* 外側の線と内側の線の空き具合を調整*/
  margin: 20px;            	/* 外側の線を広げた分、要素の大きさを調整する*/
  background-color: #ffffff;

}

#projects {
  display: flex; /* フレックスボックスを使う */
  justify-content: center; /* 子要素を中央揃えにする */
  align-items: center; /* 垂直方向も中央揃え */
  flex-direction: column; /* 子要素を縦方向に配置 */
  margin-top: 240px;
  margin-bottom: 120px;
}

#projects p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 160px;

  margin : 200px;

  text-decoration: none; /* リンクの下線を消す */
  align-items: center; /* 中の要素を縦に中央に揃える */
}


#articles {
  display: flex; /* フレックスボックスを使う */
  justify-content: center; /* 子要素を中央揃えにする */
  align-items: center; /* 垂直方向も中央揃え */
  flex-direction: column; /* 子要素を縦方向に配置 */
  margin-top: 120px;
  margin-bottom: 240px;
}

.articles-time{
  margin-left:160px;
  margin-right:240px;
  
}
.articles-title{
  /*左に寄せる*/
  margin-left:240px;
  margin-right:160px;
}

.mainpage-titles{
  margin-bottom: 48px;
}

.articles-list{
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1520px;
  margin : 40px;

  border-bottom: 1px solid #ffffff;
  padding-bottom: 16px;

  text-decoration: none; /* リンクの下線を消す */
  color: #ffffff;
  font-size: 24px;
  font-weight: lighter;
  justify-content: space-between; /* 中の要素を左右に分ける */
}

.slider {
  width: 1200px; /* スライダー全体の幅を指定 */
  height: 100%; /* スライダー全体の高さを指定 */
  margin: 0 auto; /* 中央寄せ */
  position: relative; /* ドットの絶対位置を調整するために必要 */
  list-style: none; /* リストの[・]を消す */
  padding-left:0
}

.slider img {
  width: 100%; /* 画像がスライダー幅に収まるように調整 */
  height: auto; /* 縦横比を維持 */
  display: block;
  margin: 0 auto; /* 中央寄せ */
  
}
/* ドットを中央揃え */
.slick-dots {
  text-align: center; /* ドット全体を中央揃え */
  position: absolute; /* 必要に応じて位置を調整 */
  bottom: -30px; /* スライダーの下に適度な余白を追加 */
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
}

/* ドットのデザインを調整（任意） */
.slick-dots li button:before {
  font-size: 48px; /* ドットのサイズ */
  color: #888;    /* デフォルトのドットの色 */
}

.slick-dots li.slick-active button:before {
  color: #414141; /* アクティブなドットの色 */
}

.slick-outer {
  position: relative; /* slick-contentの基準点を設定 */
}

.slick-content {
  position: absolute;
  width: 100%;
  bottom: 0; /* 下部に表示 */
  left: 50%; /* 左右中央 */
  transform: translateX(-50%); /* 中央揃え */
  background: rgba(255, 255, 255, 0.8);
  color: #333; /* テキスト色 */
  z-index: 150; /* 前面表示 */
  img{width: 100%;}/*画像を幅いっぱいに表示*/
}

.slick-content h2 {
  font-size: 32px;
  font-weight: 100;
  margin: 0;
  padding: 10px 0; /* 必要に応じて余白を設定 */
  text-align: center; /* テキストを中央揃え */
}



footer {
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;

}
